<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCAapEOf70U20ISfNSqCkVrXzz-yi529XE</string>
	<key>GCM_SENDER_ID</key>
	<string>277208950340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ipo</string>
	<key>PROJECT_ID</key>
	<string>ipo-tracker-da3ff</string>
	<key>STORAGE_BUCKET</key>
	<string>ipo-tracker-da3ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277208950340:ios:b46b716e7806825d31fe11</string>
</dict>
</plist>